.man{
    position: relative;
    margin-left:400px;
}

.head{
    width:100px;
    height: 100px;
    background-color: brown;
    border-radius: 50%;
}

.stomach{
    width:60px;
    height: 190px;
    background-color: pink;
    position: absolute;
    left:18px;
    top:105px;
    border-radius: 10px;
}

.hand1{
    width:30px;
    height: 150px;
    background-color: purple;
    transform: rotate(20deg);
    position: absolute;
    left:-54px;
    border-radius: 10px;
    animation-name: move1;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    
}

.hand2{
    width:30px;
    height: 150px;
    background-color: purple;
    transform: rotate(-20deg);
    position: absolute;
    left:121px;
    border-radius: 10px;
    animation-name: move2;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    
}


.leg1{
    width:30px;
    height: 150px;
    background-color: palegreen;
    transform: rotate(20deg);
    position: absolute;
    left:-40px;
    top:289px;
    border-radius: 10px;
    
}


.leg2{
    width:30px;
    height: 150px;
    background-color: palegreen;
    transform: rotate(-20deg);
    position: absolute;
    left:106px;
    top:289px;
    border-radius: 10px;
    
}

@keyframes move1 {
    50%{
        transform: rotate(40deg);
    }
}

@keyframes move2 {
    50%{
        transform: rotate(-40deg);
    }
}